RewriteEngine On
RewriteRule chi-tiet-san-pham/(.*)/([0-9]{1,}) index.php?controller=product&action=detail&slug=$1&id=$2
RewriteRule listProduct/(.*) index.php?controller=product&action=show_list&slug=$1
RewriteRule showList/(.*)/([0-9]{1,}) index.php?controller=product&action=addlist&slug=$1&id=$2
#RewriteRule danh-sach-san-pham index.php?controller=product&action=showAll
RewriteRule them-vao-gio-hang/([0-9]{1,}) index.php?controller=cart&action=add&id=$1
RewriteRule gio-hang-cua-ban index.php?controller=cart&action=index
RewriteRule xoa-san-pham/([0-9]{1,}) index.php?controller=cart&action=delete&id=$1
RewriteRule thanh-toan index.php?controller=payment&action=index
RewriteRule thanh-toan-truc-tuyen index.php?controller=payment&action=online
RewriteRule login ../backend/index.php?controller=login&action=login
RewriteRule signup ../backend/index.php?controller=login&action=signup
RewriteRule dang-xuat ../backend/index.php?controller=login&action=logout
RewriteRule home index.php
RewriteRule contact index.php?controller=contact
RewriteRule thank index.php?controller=payment&action=thank